@import "tailwindcss";

.Jet {
    font-family: 'JetBrains Mono';
}

.Poppins {
    font-family: 'Poppins';
}

.arrow-end::before {
    content: '';
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    width: 40%;
    height: 2px;
}

.arrow-end::after {
    content: '';
    position: absolute;
    /* background-color: red; */
    border-color: white;
    border-style: solid;
    border-width: 2px 2px 0 0;
    top: 50%;
    right: 0;
    transform: translateY(-55%) rotateZ(45deg);
    width: 12px;
    height: 12px;
}   